<div class="w-full flex justify-center
            [&>div>*]:text-sm [&>div>*]:text-gray-500 dark:[&>div>*]:text-slate-400
            [&>div>a]:cursor-pointer [&>div>div>div>a]:text-primary pb-4 md:pb-8">
    <div>
        <a class="hover:underline" href="{% url 'about' %}">About</a>
        <span>|</span>
        <a class="hover:underline" href="https://codeberg.org/mrmn/PdfDing/releases">Releases</a>
        <span>|</span>
        <a class="hover:underline" href="https://codeberg.org/mrmn/PdfDing">Source Code</a>
    </div>

</div>
