<div class="w-full flex justify-center
            [&>div>*]:text-sm [&>div>*]:text-gray-500 dark:[&>div>*]:text-slate-400 creme:[&>div>*]:text-stone-700
            [&>div>a]:cursor-pointer [&>div>div>div>a]:text-primary pb-4 md:pb-8 pt-2 md:pt-0">
    <div>
        <a class="hover:underline" href="{% url 'about' %}">About</a>
        <span>|</span>
        <a class="hover:underline" href="https://github.com/mrmn2/PdfDing/releases">Releases</a>
        <span>|</span>
        <a class="hover:underline" href="https://github.com/mrmn2/PdfDing">Source Code</a>
    </div>

</div>
