<form action="{{ action_url }}"
      method="post"
      {% if field_name != "description" and field_name != "notes" %}
      class="flex gap-x-2 text-black dark:text-slate-200 h-8 w-11/12"
      {% else %}
      class="flex gap-y-1 flex-col text-black dark:text-slate-200 [&>textarea]:text-sm"
      {% endif %}
      autocomplete="off">
    {% csrf_token %}
    {% for field in form %}{{ field }}{% endfor %}
    <button class="flex! items-center justify-center h-8 w-16" type="submit">Submit</button>
</form>

<a hx-swap-oob="true" id="{{ edit_id }}" href="{{ details_url }}" class="font-medium hover:underline">
    Cancel
</a>
