dev.docker-compose.yaml

pdfding/core/settings/dev_secrets.py
pdfding/core/settings/dev.py
pdfding/db/db.sqlite3
pdfding/media
pdfding/static/js
pdfding/static/css/*
!pdfding/static/css/input.css
pdfding/static/pdfjs

**/tests/
**/__pycache__/
