dev.docker-compose.yaml

pdfding/core/settings/dev_secrets.py
pdfding/core/settings/dev.py
pdfding/consume/*
pdfding/db/db.sqlite3
pdfding/db/tasks.sqlite3
pdfding/media/*
!pdfding/media/.gitkeep
pdfding/static/js
pdfding/static/css/*
!pdfding/static/css/input.css
pdfding/static/pdfjs
pdfding/conftest.py

**/htmlcov
**/.coverage

**/tests/
**/e2e/
**/__pycache__/
