**/__pycache__/
.idea/

notes.md
node_modules
dev.docker-compose.yaml

pdfding/core/settings/dev_secrets.py
pdfding/consume/
pdfding/db/*
!pdfding/db/.gitkeep
pdfding/media/*
!pdfding/media/demo/
pdfding/static/css/*
!pdfding/static/css/input.css
pdfding/static/js
pdfding/static/pdfjs

**/htmlcov
**/.coverage
