{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="mb-6">Add PDF File</h1>
<div x-data="{ in_progress: false }">
    <form x-on:submit="in_progress = true" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="-pt-4"  x-show="!in_progress" type="submit" >Submit</button>
        <button class="-pt-4" x-show="in_progress" x-cloak type="button" disabled>
          <div class="flex justify-center">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              <span>Processing</span>
          </div>
        </button>
    </form>
</div>
{% endblock %}
