{% extends 'layouts/blank.html' %}
{% load static %}
{% block content %}
<content class="flex justify-between block max-w-5xl mx-auto md:p-12 !pt-4">
  <div class="bg-white w-full md:w-3/4 md:p-8 p-3">
    {% include 'includes/overview_top.html' %}
    {% include 'includes/overview_center.html' %}    
  </div>  
  <div class="md:w-1/4 md:p-8 p-3 hidden md:block">
    {% include 'includes/overview_side.html' %}  
  </div>
</content>

<script>
  function append_seach_query()
    {
        var search_input = document.getElementById('search_input').value;
        var search_q = document.getElementById('search_q');
        search_q.value = search_input;
    }
</script>
{% endblock %}
