{% extends 'layouts/blank.html' %}

{% block content %}
<content class="block max-w-4xl mx-auto md:p-12">
  <div class="bg-white  md:drop-shadow-2xl shadow-black w-full p-8">
    <h1>PDFs</h1>
    {% for pdf in profile.pdf_set.all %}
    <div class="pb-4">
      <ul>
        <div>
          <a href="" class="text-lg font-bold">{{ pdf.name }}</a>
        </div>
        <div class="truncate space-x-1 [&>span]: text-gray-800">
          {% for tag in pdf.tags.all %}
          <a href="" class="text-green-400 hover:text-green-500 font-bold">#{{ tag.name }}</a>
          {% endfor %}
          {% if pdf.description %}
          <span>|</span>
          <span>{{ pdf.description }}</span>
          {% endif %}
        </div>
        <div class="text-gray-500 space-x-1 text-sm">
          <span>{{ pdf.now }} |</span>
          <a href="" class="hover:text-green-400"> Details</a>
          <a href="" class="hover:text-green-400">Download</a>
          <a href="" class="hover:text-green-400">Delete</a>
        </div>
      </ul>
    </div>
    {% endfor %}
  </div>
</content>
{% endblock %}