{% extends 'layouts/blank.html' %}
{% load static %}
{% block content %}
<content class="flex justify-between block max-w-5xl mx-auto md:p-12 !pt-4">
  <div class="bg-white w-full md:w-3/4 md:p-8 p-3">
    {% include 'includes/overview_top.html' %}
    {% include 'includes/overview_center.html' %}    
  </div>  
  <div class="md:w-1/4 md:p-8 p-3 hidden md:block">
    {% include 'includes/overview_side.html' %}  
  </div>
</content>

<script>
  function append_seach_query()
  {
      var search_input = document.getElementById('search_input').value;
      var search_q = document.getElementById('search_q');
      search_q.value = search_input;
  }

  function get_active_sorting(sorting_string)
  {
    if (sorting_string === "") {
      return "newest";
    }
    else {
      return sorting_string;
    }
  }

  function combine_url_query(url, query) {
    return `${url}${query}`;
  }

  function prepare_search_string(search_string) {
    search_string = search_string.replace(/\s/g, "+");
    search_string = search_string.replace("#", "%23");

    return search_string;
  }

  function construct_query_string(search_string, sorting_string)
  {
    search_string = prepare_search_string(search_string);

    if (search_string === "" && sorting_string === "")
      return "";
    else if (search_string === "") {
      return `?sort=${sorting_string}`;
    }
    else if (sorting_string === "") {
      return `?q=${search_string}`;
    }
    else {
      return `?q=${search_string}&sort=${sorting_string}`;
    }
  }
</script>
{% endblock %}
