{% extends 'layouts/box_large.html' %}
{% block content %}
<div class="[&>div]:flex [&>div]:justify-between [&>div]:py-4
            [&>div]:border-b [&>div]:border-slate-200 [&>div]:dark:border-slate-600
            [&>div>div>span]:font-bold [&>div>div>span]:text-gray-900 dark:[&>div>div>span]:text-slate-200
            [&>div>div>div>span]:text-sm [&>div>div>div>span]:text-slate-800 dark:[&>div>div>div>span]:text-slate-300
            [&>div>div>div>a]:text-sm [&>div>div>div>a]:cursor-pointer [&>div>div>div>a]:text-primary">
    <div class="!pb-0 !border-none">
        <a href="{% url 'view_pdf' pdf.id %}" class="text-3xl font-bold hover:text-primary hover:underline truncate">{{ pdf.name }}</a>
    </div>

    <div class="!pb-6 !border-none">
        <div>
            <a href="{% url 'share_pdf' pdf.id %}" class="text-md !font-bold text-primary hover:text-secondary hover:underline">Share</a>
            <span class="text-md !font-bold">|</span>
            <a href="{% url 'download_pdf' pdf.id %}" class="text-md !font-bold text-primary hover:text-secondary hover:underline">Download</a>
        </div>
    </div>

    <div>
        <div class="w-1/6">
            <span>Name</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div class="w-5/6 pr-4">
                <span id="name">{{ pdf.name }}</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="name-edit" class="hover:underline"
                    hx-get="{% url 'edit_pdf' identifier=pdf.id field_name='name' %}"
                    hx-target="#name"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span>Tags</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div class="w-5/6">
                <span id="tags">
                {% if pdf.tags.all %}
                    {% for tag in pdf.tags.all|dictsort:"name" %}
                        {% if sort_query %}
                        <a class="text-primary hover:text-secondary hover:underline" href="{% url 'pdf_overview' %}?q=%23{{ tag }}&sort={{ sort_query }}">#{{ tag }}</a>
                        {% else %}
                        <a class="text-primary hover:text-secondary hover:underline" href="{% url 'pdf_overview' %}?q=%23{{ tag }}">#{{ tag }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    no tags available
                {% endif%}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="tags-edit" class="hover:underline"
                    hx-get="{% url 'edit_pdf' identifier=pdf.id field_name='tags' %}"
                    hx-target="#tags"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span class="hyphens-manual">Des&shy;cription</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div class="w-5/6">
                <span id="description">
                {% if pdf.description %}
                {{ pdf.description }}
                {% else %}
                no description available
                {% endif%}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="description-edit" class="hover:underline"
                    hx-get="{% url 'edit_pdf' identifier=pdf.id field_name='description' %}"
                    hx-target="#description"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span>Notes</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div class="w-5/6">
                {% if pdf.notes %}
                <div id="notes" class="markdown">
                    {{ pdf.notes_html }}
                </div>
                {% else %}
                <span id="notes">
                no notes available
                </span>
                {% endif%}
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="notes-edit" class="hover:underline"
                    hx-get="{% url 'edit_pdf' identifier=pdf.id field_name='notes' %}"
                    hx-target="#notes"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    {% if pdf.number_of_pages > 0 %}
    <div>
        <div class="w-1/6">
            <span>Progress</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div class="w-5/6">
                <span id="progress">{{ pdf.progress }}% - Page {{ pdf.current_page_for_progress }} of {{ pdf.number_of_pages }}</span>
            </div>
            <div class="w-1/6">
            </div>
        </div>
    </div>
    {% endif %}
    <div>
        <div class="w-1/6">
            <span>Date added</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div id="creation_date" class="w-5/6">
                <span>{{ pdf.creation_date }}</span>
            </div>
            <div class="w-1/6">
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span>Views</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div id="views" class="w-5/6">
                <span>{{ pdf.views }}</span>
            </div>
            <div class="w-1/6">
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span>File ID</span>
        </div>
        <div class="flex justify-between w-5/6 pl-4">
            <div id="pdf_id" class="w-5/6">
                <span>{{ pdf.file_id }}</span>
            </div>
            <div class="w-1/6">
            </div>
        </div>
    </div>
</div>

<div class="flex justify-between pt-10 pb-2">
    {% if "/?" in request.META.HTTP_REFERER %}
    <a href="{{ request.META.HTTP_REFERER }}" class="text-md !font-bold text-primary hover:text-secondary">Back</a>
    {% else %}
    <a href="{% url 'pdf_overview' %}" class="text-md !font-bold text-primary hover:text-secondary">Back</a>
    {% endif %}
    <div x-data="{ delete_pdf: false }" class="pr-4">
        <a x-show="delete_pdf" x-cloak
          hx-delete="{% url 'delete_pdf' pdf.id %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="button-text-delete cursor-pointer !font-bold">Confirm
        </a>
        <button x-show="delete_pdf" x-cloak @click="delete_pdf = false" type="button" class="button-text-delete !font-bold">Cancel</button>
        <button x-show="!delete_pdf" @click="delete_pdf = true" type="button" class="button-text-delete !font-bold">Delete</button>
    </div>
</div>
{% endblock %}
