{% extends 'layouts/blank.html' %}
{% load static %}

{% block header %}
{% include 'includes/header.html' with special_header='pdf1' %}
{% endblock %}

{% block content %}
<div x-data="{ show_tag_name_modal: false, show_preview_modal: false }">
  <div class="flex flex-col md:flex-row md:justify-between md:pb-0 pt-4!"
       :class="{ 'opacity-15': show_tag_name_modal || show_preview_modal }">
    <div class="w-full md:w-60! lg:w-72! px-4 md:pt-2">
      {% include 'includes/sidebar.html' with page='pdf_overview' %}
    </div>
    <div class="md:p-8 p-3 bg-red-400">
      {% include 'includes/overview_center.html' %}
    </div>
  </div>
  <div x-show="show_tag_name_modal" x-cloak
       @click.away="show_tag_name_modal = false; $refs.edit_tag_inner.remove()"
       @keyup.escape.window="show_tag_name_modal = false; $refs.edit_tag_inner.remove()"
       class="fixed inset-x-0 top-40  mx-auto my-auto w-80 h-52 z-20">
      <div id="edit_tag"></div>
  </div>
  <div x-show="show_preview_modal" x-cloak
       @click.away="show_preview_modal = false; $refs.preview_inner.remove()"
       @keyup.escape.window="show_preview_modal = false"
       class="fixed inset-x-0 top-40 mx-auto my-auto w-80! lg:w-[28rem]! z-20">
      <div id="preview"></div>
  </div>
</div>

{% endblock %}
