{% extends 'layouts/blank.html' %}
{% load static %}
{% block content %}
<div x-data="{ show_tag_name_modal: false, show_preview_modal: false }">
  <div class="flex justify-between block max-w-6xl mx-auto md:p-12 md:pb-0 pt-4! dark:text-slate-200 creme:text-stone-700"
       :class="{ 'opacity-15': show_tag_name_modal, 'opacity-15': show_preview_modal }">
    <div class="w-full md:w-[70%] md:p-8 p-3">
      {% include 'includes/pdf_overview_top.html' %}
      {% include 'includes/pdf_overview_center.html' %}
    </div>
    <div class="md:w-[30%] md:p-8 p-3 hidden md:block">
      {% include 'includes/pdf_overview_side.html' %}
    </div>
  </div>
  <div x-show="show_tag_name_modal" x-cloak
       @click.away="show_tag_name_modal = false; $refs.edit_tag_inner.remove()"
       @keyup.escape.window="show_tag_name_modal = false; $refs.edit_tag_inner.remove()"
       class="fixed inset-x-0 top-40  mx-auto my-auto w-80 h-52 z-20">
      <div id="edit_tag"></div>
  </div>
  <div x-show="show_preview_modal" x-cloak
       @click.away="show_preview_modal = false; $refs.preview_inner.remove()"
       @keyup.escape.window="show_preview_modal = false"
       class="fixed inset-x-0 top-40 mx-auto my-auto w-80! lg:w-[28rem]! z-20">
      <div id="preview"></div>
  </div>
</div>


{% endblock %}
