{% extends 'layouts/blank.html' %}
{% load static %}
{% block content %}
<content class="flex justify-between block max-w-5xl mx-auto md:p-12 !pt-4 dark:text-slate-200">
  <div class="w-full md:p-8 p-3">
    {% include 'includes/share_overview_top.html' %}
    {% include 'includes/share_overview_center.html' %}
  </div>
</content>

<script>
  // function for copying to the clipboard
  function copy_to_clipboard(input_string)
  {
    navigator.clipboard.writeText(input_string);
  }

  // function for getting the current sorting
  function get_active_sorting(sorting_string)
  {
    if (sorting_string === "") {
      return "newest";
    }
    else {
      return sorting_string;
    }
  }

  // function for combining the url and its query to a single url
  function combine_url_query(url, query) {
    return `${url}${query}`;
  }

  // function for constructing the url query string from the search and sorting strings
  function construct_query_string(sorting_string)
  {
    if (sorting_string === "")
      return "";
    else {
      return `?sort=${sorting_string}`;
    }
  }
</script>
{% endblock %}
