{% extends 'layouts/box.html' %}
{% load static %}
{% block content %}
<div class="[&>div]:flex [&>div]:justify-between [&>div]:py-4
            [&>div]:border-b [&>div]:border-slate-200 dark:[&>div]:border-slate-600 creme:[&>div]:border-stone-400
            [&>div>div>span]:font-bold [&>div>div>span]:text-gray-900 dark:[&>div>div>span]:text-slate-200 creme:[&>div>div>span]:text-stone-700
            [&>div>div>div>span]:text-sm [&>div>div>div>span]:text-gray-500 dark:[&>div>div>div>span]:text-slate-300 creme:[&>div>div>div>span]:text-stone-600
            [&>div>div>div>a]:text-sm [&>div>div>div>a]:cursor-pointer [&>div>div>div>a]:text-primary">
    <div class="pb-0! border-none!">
        <span href="{% url 'view_pdf' shared_pdf.pdf.id %}" class="text-3xl font-bold truncate">
            {% if shared_pdf.inactive %}
            {{ shared_pdf.name }} | inactive
            {% else %}
            {{ shared_pdf.name }}
            {% endif %}
        </span>
    </div>
    <div class="justify-center! items-center! border-none! pb-0!">
        <img class="h-48 w-48 bg-white creme:border-[1px] creme:border-stone-500" src={% url 'serve_qrcode' shared_pdf.id %}>
    </div>
    <div class="justify-center! pb-0! border-none!">
        <a href="{% url 'view_shared_pdf' shared_pdf.id %}"
             class="text-sm! text-primary hover:text-secondary hover:underline">
             {{ request.get_host }}{% url 'view_shared_pdf' shared_pdf.id %}
          </a>
    </div>
    <div x-data="{ }" class="justify-center! pb-6! pt-1! border-none! gap-x-2">
        <button type="button"
              class="button-text-theme font-bold!"
              @click="copy_to_clipboard('{{ request.scheme }}://{{ request.get_host }}{% url 'view_shared_pdf' shared_pdf.id %}')">
              Copy Link
        </button>
        <span>|</span>
        <button type="button"
              class="button-text-theme font-bold!"
              onclick="location.href='{% url 'download_qrcode' shared_pdf.id %}'">
              Download QR Code
        </button>
    </div>
    <div>
        <div class="w-1/6">
            <span>Name</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6">
                <span id="name">{{ shared_pdf.name }}</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="name-edit" class="hover:underline"
                    hx-get="{% url 'edit_shared_pdf' identifier=shared_pdf.id field_name='name' %}"
                    hx-target="#name"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span class="hyphens-manual">Des&shy;cription</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6 pr-6  ">
                <span id="description">
                {% if shared_pdf.description %}
                {{ shared_pdf.description }}
                {% else %}
                no description available
                {% endif%}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="description-edit" class="hover:underline"
                    hx-get="{% url 'edit_shared_pdf' identifier=shared_pdf.id field_name='description' %}"
                    hx-target="#description"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span class="hyphens-manual">Password</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6 pr-6  ">
                <span id="password">
                {% if shared_pdf.password %}
                ***
                {% else %}
                not set
                {% endif%}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="password-edit" class="hover:underline"
                    hx-get="{% url 'edit_shared_pdf' identifier=shared_pdf.id field_name='password' %}"
                    hx-target="#password"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span class="hyphens-manual">Views</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6 pr-6  ">
                <span id="max_views">
                {% if shared_pdf.max_views %}
                {{ shared_pdf.views }}/{{ shared_pdf.max_views }}
                {% else %}
                {{ shared_pdf.views }} | not set
                {% endif%}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="max_views-edit" class="hover:underline"
                    hx-get="{% url 'edit_shared_pdf' identifier=shared_pdf.id field_name='max_views' %}"
                    hx-target="#max_views"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span class="hyphens-manual">Expiration</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6 pr-6  ">
                <span id="expiration_date">
                {{ shared_pdf.expires_in_string }}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="expiration_date-edit" class="hover:underline"
                    hx-get="{% url 'edit_shared_pdf' identifier=shared_pdf.id field_name='expiration_date' %}"
                    hx-target="#expiration_date"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span class="hyphens-manual">Deletion</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6 pr-6  ">
                <span id="deletion_date">
                {{ shared_pdf.deletes_in_string }}
                </span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="deletion_date-edit" class="hover:underline"
                    hx-get="{% url 'edit_shared_pdf' identifier=shared_pdf.id field_name='deletion_date' %}"
                    hx-target="#deletion_date"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span>PDF</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6">
                <span id="pdf">{{ shared_pdf.pdf.name }}</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-8">
                <a id="pdf-view" href="{% url 'view_pdf' shared_pdf.pdf.id %}" class="hover:underline">View</a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/6">
            <span>Date added</span>
        </div>
        <div class="flex justify-between w-5/6 pl-8 md:pl-4">
            <div class="w-5/6">
                <span>{{ shared_pdf.creation_date }}</span>
            </div>
            <div class="w-1/6">
            </div>
        </div>
    </div>
</div>

<div class="flex justify-between pt-10 pb-2">
    {% if "/?" in request.META.HTTP_REFERER %}
    <a href="{{ request.META.HTTP_REFERER }}" class="text-md font-bold! text-primary hover:text-secondary">Back</a>
    {% else %}
    <a href="{% url 'shared_pdf_overview' %}" class="text-md font-bold! text-primary hover:text-secondary">Back</a>
    {% endif %}
    <div x-data="{ delete_shared_pdf: false }" class="pr-4">
        <a x-show="delete_shared_pdf" x-cloak
          hx-delete="{% url 'delete_shared_pdf' shared_pdf.id %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="button-text-delete cursor-pointer font-bold!">Confirm
        </a>
        <button x-show="delete_shared_pdf" x-cloak @click="delete_shared_pdf = false" type="button" class="button-text-delete font-bold!">Cancel</button>
        <button x-show="!delete_shared_pdf" @click="delete_shared_pdf = true" type="button" class="button-text-delete font-bold!">Delete</button>
    </div>
</div>

<script>
  // function for copying to the clipboard
  function copy_to_clipboard(input_string)
  {
    navigator.clipboard.writeText(input_string);
  }
</script>
{% endblock %}
