{% extends 'layouts/blank_without_header.html' %}
{% load static %}
{% block content %}
<script src="../../static/js/pdf.mjs" type="module"></script>

<script type="module">
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  var url = 'http://127.0.0.1:5000/media/test.pdf';

  // Loaded via <script> tag, create shortcut to access PDF.js exports.
  var { pdfjsLib } = globalThis;

  // The workerSrc property shall be specified.
  pdfjsLib.GlobalWorkerOptions.workerSrc = '../../static/js/pdf.worker.mjs';

  var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 3,
      canvas = document.getElementById('the-canvas'),
      ctx = canvas.getContext('2d');

  /**
   * Get page info from document, resize canvas accordingly, and render page.
   * @param num Page number.
   */
  function renderPage(num) {
    pageRendering = true;
    // Using promise to fetch the page
    pdfDoc.getPage(num).then(function(page) {
      var viewport = page.getViewport({scale: scale});    

      var current_width = viewport.width;
      var resize_factor = document.getElementById('canvas-div').offsetWidth / current_width;

      canvas.height = viewport.height;
      canvas.width = viewport.width;
      canvas.style.width = `${(viewport.width * resize_factor) }px`;
      canvas.style.height = `${(viewport.height * resize_factor) }px`;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);

      // Wait for rendering to finish
      renderTask.promise.then(function() {
        pageRendering = false;
        if (pageNumPending !== null) {
          // New page rendering is pending
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });

    // Update page counters
    document.getElementById('page_input').value = num;
  }

  /**
   * If another page rendering in progress, waits until the rendering is
   * finised. Otherwise, executes rendering immediately.
   */
  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  /**
   * Displays previous page.
   */
  function onPrevPage() {
    if (pageNum <= 1) {
      return;
    }
    pageNum--;
    queueRenderPage(pageNum);
  }
  document.getElementById('prev').addEventListener('click', onPrevPage);

  /**
   * Displays next page.
   */
  function onNextPage() {
    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    pageNum++;
    queueRenderPage(pageNum);
  }
  document.getElementById('next').addEventListener('click', onNextPage);

  /**
   * Displays any page.
   */
  function onAnyPage() {
    var selected_page = parseInt(document.getElementById('page_input').value);
    if (isNaN(selected_page) || selected_page > pdfDoc.numPages || (selected_page < 1)) {
      return;
    }    
    pageNum = selected_page;
    queueRenderPage(pageNum);
  }
  document.getElementById('jump').addEventListener('click', onAnyPage);

  window.addEventListener('keydown', event => {
    if (event.key == "ArrowLeft") {
      onPrevPage();
    } else if (event.key == "ArrowRight") {
      onNextPage();
    }
  })

  /**
   * Asynchronously downloads PDF.
   */
  pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
    pdfDoc = pdfDoc_;
    document.getElementById('page_count').textContent = pdfDoc.numPages;

    // Initial/first page rendering
    renderPage(pageNum);
  });
</script>


<content class="block">
  
  <div class="flex justify-between items-center sticky top-0 z-40">
    <div class=""></div>
    <div class="flex mx-auto max-w-xs items-center justify-center mt-2  gap-x-0 bg-gray-100 rounded-lg border">
      <button class="py-2 px-2 mr-1" style="display:inline-block" id="prev">
        <img src="{% static "images/arrow_right.svg" %}" width="33" class="transform -scale-x-100">
      </button>   
      <button class="py-2 px-2" style="display:inline-block" id="next">
        <img src="{% static "images/arrow_right.svg" %}" width="33">
      </button>   
      <input class="border w-14 ml-3 border-green-400 py-3" type="text" id="page_input">
      <span class="px-2">/</span> <span class="pr-4" id="page_count">??</span>
      <button class="px-1 py-3 font-md" id="jump">Jump</button>       
    </div>
    
    <div class="px-4">
      <form action="http://127.0.0.1:5000/pdf">
        <button class="py-2 px-2 !rounded-full" style="display:inline-block">
          <img src="{% static "images/close_white.svg" %}" width="30">
        </button>
      </form>
  </div>
  </div>


  <div class="flex justify-center max-w-6xl mx-auto" id="canvas-div">
    <canvas class="" id="the-canvas"></canvas>
  </div>
    
</content>

{% endblock %}