{% extends 'layouts/box.html' %}

{% block content %}

<div class="[&>*]:flex [&>*]:justify-center">
  <h1>View Shared PDF</h1>
  <span class="p-2">PdfDing member {{ shared_pdf.owner.user.email }} shared the PDF</span>

  <span class="text-2xl font-bold p-2">{{ shared_pdf.name }}</span>
  <span class="p-2 pb-6">with you</span>

  {% if shared_pdf.password %}
  <span class="text-lg font-bold p-2">This PDF is password protected.</span>
  {% endif %}
</div>

<div class="flex justify-center pt-4">
<form class="w-3/4" action="{% url 'view_shared_pdf' shared_pdf.id %}" method="post">
    <!--<input name="name" type="text"/>-->
    {% csrf_token %}
    {% if shared_pdf.password %}
    {{ form.as_p }}
    {% endif %}
  <div class="flex justify-center">
    <button class="flex items-center h-14" type="submit">View</button></div>
  </form></div>
{% endblock %}
