{% extends 'layouts/box.html' %}
{% block content %}

<div class="w-full [&>div]:flex [&>div]:justify-between [&>div]:py-4
            [&>div]:border-b [&>div]:border-slate-200 dark:[&>div]:border-slate-600
            [&>div>div>span]:font-bold [&>div>div>span]:text-gray-900 dark:[&>div>div>span]:text-slate-200
            [&>div>div>div>span]:text-sm [&>div>div>div>span]:text-gray-500 dark:[&>div>div>div>span]:text-slate-400
            [&>div>div>div>a]:text-sm [&>div>div>div>a]:cursor-pointer [&>div>div>div>a]:text-primary">
    <h1 class="mb-8">Account Settings</h1>
    {% if not uses_social %}
    <div>
        <div class="w-1/4">
            <span>Email address</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span id="email_address">{{ user.email }}</span>
                <div>
                    {% if user.emailaddress_set.first.verified %}
                    <span class="text-primary text-sm">Verified</span>
                    {% else %}
                    <span class="text-amber-500 text-sm">Not verified</span>
                    {% endif %}
                </div>
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="email_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'email' %}"
                    hx-target="#email_address"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Password</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span>***</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a href="{% url 'account_change_password' %}" class="hover:underline">
                    Edit
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div>
        <div class="w-1/4">
            <span>Theme</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span id="theme">{{ user.profile.dark_mode }} + {{ user.profile.theme_color }}</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="theme_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'theme' %}"
                    hx-target="#theme"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Custom Color</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span id="custom_theme_color">{{ user.profile.custom_theme_color }}</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="custom_theme_color_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'custom_theme_color' %}"
                    hx-target="#custom_theme_color"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Inverted Colors</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-3/6">
                {% if user.profile.pdf_inverted_mode == 'Enabled' %}
                <span id="pdf_inverted_mode">Inverted PDF colors are enabled</span>
                {% else %}
                <span id="pdf_inverted_mode">Inverted PDF colors are disabled</span>
                {% endif %}
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="pdf_inverted_mode_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'pdf_inverted_mode' %}"
                    hx-target="#pdf_inverted_mode"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Progress</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                {% if user.profile.show_progress_bars == 'Enabled' %}
                <span id="show_progress_bars">Read progress bars are enabled</span>
                {% else %}
                <span id="show_progress_bars">Read progress bars are disabled</span>
                {% endif %}
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="show_progress_bars_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'show_progress_bars' %}"
                    hx-target="#show_progress_bars"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Thumbnails</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                {% if user.profile.show_thumbnails == 'Enabled' %}
                <span id="show_thumbnails">PDF thumbnails are enabled</span>
                {% else %}
                <span id="show_thumbnails">PDF thumbnails are disabled</span>
                {% endif %}
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="show_thumbnails_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'show_thumbnails' %}"
                    hx-target="#show_thumbnails"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Tree Mode</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                {% if user.profile.tags_tree_mode == 'Enabled' %}
                <span id="tags_tree_mode">Tags tree mode is enabled</span>
                {% else %}
                <span id="tags_tree_mode">Tags tree mode is disabled</span>
                {% endif %}
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="tags_tree_mode_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'tags_tree_mode' %}"
                    hx-target="#tags_tree_mode"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div class="border-0!">
        <div class="w-1/4">
            <span>Pdfs per Page </span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span id="pdfs_per_page">{{ user.profile.pdfs_per_page }}</span>
            </div>
            <div class="w-1/6 pl-2 md:pl-6">
                <a id="pdfs_per_page_edit" class="hover:underline"
                    hx-get="{% url 'profile-setting-change' 'pdfs_per_page' %}"
                    hx-target="#pdfs_per_page"
                    hx-swap="innerHTML">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <h2 class="pt-10">Danger Zone</h2>
    <div class="border-[1px]! border-red-600! rounded-md">
        <div class="w-1/4 px-2">
            <span>Delete Account</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4 pr-2">
            <div class="w-5/6">
                <span>Delete your account and data</span>
            </div>
            <div class="w-1/6 pl-0 md:pl-6">
                <a href="{% url 'profile-delete' %}" class="text-red-600! hover:underline">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
