{% extends 'layouts/box.html' %}

{% block content %}

<div class="w-full [&>div]:flex [&>div]:justify-between [&>div]:border-b [&>div]:py-4
            [&>div>div>span]:font-bold [&>div>div>span]:text-gray-900
            [&>div>div>div>span]:text-sm [&>div>div>div>span]:text-gray-500
            [&>div>div>div>a]:text-sm [&>div>div>div>a]:cursor-pointer [&>div>div>div>a]:text-blue-600">
    <h1 class="mb-8">Account Settings</h1>
    {% if not uses_social %}
    <div>
        <div class="w-1/4">
            <span>Email address</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span id="email-address">{{ user.email }}</span>
                <div>
                    {% if user.emailaddress_set.first.verified %}
                    <span class="text-green-500 text-sm">Verified</span>
                    {% else %}
                    <span class="text-amber-500 text-sm">Not verified</span>
                    {% endif %}
                </div>
            </div>
            <div class="w-1/6">
                <a id="email-edit" class="hover:underline"
                    hx-get="{% url 'profile-emailchange' %}"
                    hx-target="#email-address"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="w-1/4">
            <span>Password</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span>***</span>
            </div>
            <div class="w-1/6">
                <a href="{% url 'account_change_password' %}" class="hover:underline">
                    Change
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div>
        <div class="w-1/4">
            <span>Delete Account</span>
        </div>
        <div class="flex justify-between w-3/4 pl-4">
            <div class="w-5/6">
                <span>Delete your account and data</span>
            </div>
            <div class="w-1/6">
                <a href="{% url 'profile-delete' %}" class="!text-red-600 hover:underline">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}