@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="Green"] {
      --color-primary: #4ade80;
      --color-secondary: #3bb166;
      --color-tertiary1: #2c854c;
      --color-tertiary2: #92ebb2;
    }

    html[data-theme="Blue"] {
      --color-primary: #4793cc;
      --color-secondary: #3875a3;
      --color-tertiary1: #2a587a;
      --color-tertiary2: #90bee0;
    }

    html[data-theme="Gray"] {
      --color-primary: #97aabd;
      --color-secondary: #788897;
      --color-tertiary1: #5a6671;
      --color-tertiary2: #c0ccd7;
    }

    html[data-theme="Red"] {
      --color-primary: #f87171;
      --color-secondary: #c65a5a;
      --color-tertiary1: #944343;
      --color-tertiary2: #faa9a9;
    }

    html[data-theme="Pink"] {
      --color-primary: #da7b93;
      --color-secondary: #ae6275;
      --color-tertiary1: #824958;
      --color-tertiary2: #e8afbe;
    }

    html[data-theme="Orange"] {
      --color-primary: #ffcb85;
      --color-secondary: #cca26a;
      --color-tertiary1: #99794f;
      --color-tertiary2: #ffdfb5;
    }
}

h1 {
    @apply text-4xl font-bold mb-4
}
h2 {
    @apply text-xl font-bold mb-2
}
p {
    @apply mb-4
}
hr {
    @apply mt-6 mb-6
}
.button, button, [type='submit'], [type='button'] {
    @apply bg-primary text-white font-bold px-6 py-4 inline-block
    rounded-lg shadow-lg transition-all cursor-pointer
}
.button:hover, button:hover, [type='submit']:hover, [type='button']:hover {
    @apply bg-secondary
}
.button:active, button:active, [type='submit']:active, [type='button']:active {
    @apply scale-95
}
.button.alert, button.alert {
    @apply bg-red-700
}
.button.alert:hover, button.alert:hover {
    @apply bg-red-600
}
.button-text {
    @apply !bg-white !px-0 !py-0 font-normal !text-gray-500 !shadow-none
}
.button-text:hover {
    @apply !text-primary
}
.button-text-delete {
    @apply !bg-white dark:!bg-slate-700 !px-0 !py-0 font-medium !text-red-400 !shadow-none
}
.button-text-delete:hover {
    @apply !text-red-500
}
.button-red {
    @apply !bg-red-500 hover:!bg-red-600
}
.button-gray {
    @apply !bg-gray-300 hover:!bg-[#c3c9d0]
}
.navitems>li>a {
    @apply flex items-center gap-2 h-12 px-4 hover:bg-secondary rounded-lg;
}
.hoverlist>* {
    @apply dark:text-slate-50 dark:bg-slate-700 hover:bg-primary rounded-md transition duration-150;
}
.hoverlist>*>a {
    @apply flex items-center p-2;
}
.hoverlist>*>span {
    @apply flex items-center p-2 cursor-pointer;
}
.highlight {
    @apply !bg-indigo-100;
}
.helptext {
    @apply !text-gray-500 !text-sm;
}
label {
    @apply hidden
}
input[type=file] {
    @apply  w-full text-gray-400 dark:text-slate-200 bg-gray-100 dark:bg-slate-600 file:cursor-pointer cursor-pointer file:border-0 file:py-4 file:px-4 file:-my-7 file:-ml-5 file:mr-4 file:bg-primary file:hover:bg-secondary file:text-white file:font-bold file:rounded-lg
}
input[type=checkbox] {
    @apply  accent-primary
}
.textarea, textarea, input {
    @apply w-full rounded-lg py-4 px-5 bg-gray-100 dark:bg-slate-600
}
.textarea:focus, textarea:focus, input:focus {
    @apply outline outline-1 outline-primary
}
.errorlist li {
    @apply p-1 pl-4 border-l-red-500 border-l-4 border-solid mb-2 text-red-500
}
label[for="id_remember"] {
    @apply inline-block w-auto mr-2
}
input[name="remember"] {
    @apply w-auto
}
.alert-info { @apply bg-secondary }
.alert-success { @apply bg-secondary }
.alert-warning { @apply bg-red-500 }
.alert-danger { @apply bg-red-500 }
.allauth content a {
    @apply underline underline-offset-2
}
.allauth content a:hover {
    @apply text-indigo-500
}
.allauth form[action="/accountsignup/"] ul {
    @apply hidden
}
.allauth form[action="/accountsignup/"] ul.errorlist {
    @apply block
}
.allauth form[action="/accountpassword/change/"] ul {
    @apply hidden
}
.allauth form[action="/accountpassword/change/"] ul.errorlist {
    @apply block
}
.allauth .helptext {
    @apply block mt-4
}

.allauth content a:hover {
    @apply text-primary
}
