{% extends 'layouts/blank.html' %}

{% block content %}

<div class="max-w-4xl mx-auto px-8 pt-10 md:pt-20 text-center">
    <h1 class="text-4xl text-slate-800 dark:text-slate-200 creme:text-stone-700">PdfDing</h1>
    <p class="text-left my-10 text-slate-600 dark:text-slate-300 creme:text-stone-700">
        PdfDing is a PDF manager and viewer that you can host yourself. It offers a seamless user
        experience on multiple devices. It's designed be to be minimal, fast, and easy to set up using Docker.
        <br><br>
        If you enjoy PdfDing, be sure to visit the
        <a class="hover:underline text-primary" href="https://github.com/mrmn2/PdfDing">PdfDing repository</a> on GitHub and
        give it a star. If you have an awesome feature idea or a support related question, feel free to create an
        <a class="hover:underline text-primary" href="https://github.com/mrmn2/PdfDing/issues">issue</a>
        on GitHub.
    </p>
</div>

{% endblock %}
