<div x-data="{ sortOpen: false, layoutOpen: false }" class="relative flex flex-row items-center md:gap-x-1">
    <a id="layout_settings"
       @click="layoutOpen = !layoutOpen"
       @click.away="layoutOpen = false"
       @keyup.escape.window="layoutOpen = false"
       class="cursor-pointer rounded-sm py-1 pr-1 md:px-2 group relative
              hover:bg-slate-200 dark:hover:bg-slate-800 creme:hover:bg-creme-dark-light">
        <svg fill="currentColor" class="h-6 w-6 text-primary" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <!-- source: https://www.svgrepo.com/svg/381693/layout -->
            <!-- license: PD -->
            <path fill-rule="evenodd" d="M10,19 L21,19 L21,10 L10,10 L10,19 Z M8,19 L8,10 L3,10 L3,19 L8,19 Z M21,8 L21,5 L3,5 L3,8 L21,8 Z M2.81818182,3 L21.1818182,3 C22.1859723,3 23,3.8954305 23,5 L23,19 C23,20.1045695 22.1859723,21 21.1818182,21 L2.81818182,21 C1.81402773,21 1,20.1045695 1,19 L1,5 C1,3.8954305 1.81402773,3 2.81818182,3 Z"/>
        </svg>
        <span x-show="!layoutOpen" class="absolute pointer-events-none top-8 -left-3! mt-1 px-2 py-1 rounded-sm opacity-0
                     group-hover:opacity-100 group-hover:delay-350
                     text-slate-600 dark:text-slate-200 creme:text-stone-700
                     bg-slate-200 dark:bg-slate-800 creme:bg-creme-dark-light">Layout
        </span>
    </a>
    <a id="sorting_settings"
       @click="sortOpen = !sortOpen"
       @click.away="sortOpen = false"
       @keyup.escape.window="sortOpen = false"
       class="cursor-pointer rounded-sm py-1 md:px-2 group relative
              hover:bg-slate-200 dark:hover:bg-slate-800 creme:hover:bg-creme-dark-light">
        <svg class="h-6 w-6 text-primary" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- source: https://www.svgrepo.com/svg/361828/sort -->
            <!-- license: PD -->
            <path d="M6.293 4.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1-1.414 1.414L8 7.414V19a1 1 0 1 1-2 0V7.414L3.707 9.707a1 1 0 0 1-1.414-1.414l4-4zM16 16.586V5a1 1 0 1 1 2 0v11.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 1.414-1.414L16 16.586z" fill="currentColor"/>
        </svg>

        <span x-show="!sortOpen" class="absolute pointer-events-none top-8 -left-1! mt-1 px-2 py-1 rounded-sm opacity-0
                     group-hover:opacity-100 group-hover:delay-350
                     text-slate-600 dark:text-slate-200 creme:text-stone-700
                     bg-slate-200 dark:bg-slate-800 creme:bg-creme-dark-light">Sort
        </span>
    </a>
    <div x-show="layoutOpen" x-cloak
         class="absolute top-11 right-0 shadow-sm rounded-lg w-40 p-2 z-20 border
                bg-slate-100 dark:bg-slate-800 creme:bg-creme-dark-light
                border-slate-300 dark:border-slate-700 creme:border-creme-dark">
        <div class="flex flex-col [&>a]:py-1 [&>a]:my-[1px] [&>a]:px-2 [&>a]:flex [&>a]:items-center [&>a]:gap-x-1
                    [&>a]:cursor-pointer [&>a]:rounded-sm [&>a]:cursor-pointer
                    [&>a]:hover:bg-slate-200 dark:[&>a]:hover:bg-slate-700 creme:[&>a]:hover:bg-creme-dark">
            <a hx-post="{% url 'change_layout' 'Compact' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ layout }}' === 'Compact' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Compact
            </a>
            <a hx-post="{% url 'change_layout' 'List' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ layout }}' === 'List' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                List
            </a>
            <a hx-post="{% url 'change_layout' 'Grid' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ layout }}' === 'Grid' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Grid
            </a>
        </div>
    </div>
    <div x-show="sortOpen" x-cloak
         class="absolute top-11 right-0 shadow-sm rounded-lg w-40 p-2 z-20 border
                bg-slate-100 dark:bg-slate-800 creme:bg-creme-dark-light
                border-slate-300 dark:border-slate-700 creme:border-creme-dark">
        <div class="flex flex-col [&>a]:py-1 [&>a]:my-[1px] [&>a]:px-2 [&>a]:flex [&>a]:items-center [&>a]:gap-x-1
                    [&>a]:cursor-pointer [&>a]:rounded-sm [&>a]:cursor-pointer
                    [&>a]:hover:bg-slate-200 dark:[&>a]:hover:bg-slate-700 creme:[&>a]:hover:bg-creme-dark">
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'Newest' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === '-creation_date' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Newest
            </a>
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'oldest' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === 'creation_date' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Oldest
            </a>
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'name_asc' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === 'Lower(F(name))' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                A - Z
            </a>
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'name_desc' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === 'OrderBy(Lower(F(name)), descending=True)' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Z - A
            </a>
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'most_viewed' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === '-views' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Most Viewed
            </a>
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'least_viewed' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === 'views' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Least Viewed
            </a>
            <a hx-post="{% url 'change_sorting' 'pdf_sorting' 'recently_viewed' %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               x-bind:class="'{{ sorting }}' === '-last_viewed_date' ? 'bg-slate-200! dark:bg-slate-700! creme:bg-creme-dark!' : ''">
                Recently Viewed
            </a>
        </div>
    </div>
</div>
