{% load static %}
<div class="flex justify-between items-center">
    <span class="text-2xl font-bold pr-4">PDFs</span>
    <div class="flex justify-end h-10 mr-2">
        <form class="flex" action="{% url 'pdf_overview_query' %}" method="GET" id="search_form">
            <input class="border border-primary h-10 !rounded-r-none align-text-center"
                    type="text" placeholder="Search for words or #tags"
                    id="search_input"
                    name="search"
                    @keyup.enter="document.getElementById('search_form').submit()"
            />
            <button type="submit"
                    class="button h-10 !rounded-l-none !rounded-md !item-center !py-2 !px-2"
                    style="display:inline-block">
                <img src="{% static 'images/search.svg' %}" width="35">
            </button>
        </form>
        <div x-data="{ sortdropdownOpen: false }" class="relative">
            <a @click="sortdropdownOpen = !sortdropdownOpen" @click.away="sortdropdownOpen = false" class="cursor-pointer select-none">
                <img class="w-10 h-10 bg-primary hover:bg-secondary rounded-md ml-2 px-2 mx-2 "
                    x-bind:class="sortdropdownOpen && 'duration-300'"
                    src="{% static 'images/sort.svg' %}"/>
            </a>
            <div x-show="sortdropdownOpen" x-cloak class="absolute right-0 origin-top-right bg-white dark:bg-slate-700 text-black shadow rounded-lg w-40 p-2 mt-1 z-20"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 translate-y-0 scale-100"
                >
                <ul class="hoverlist [&>li>*]:justify-left [&>li>*]:rounded-md">
                <li><a href="{% url 'pdf_overview_query' %}?sort=newest"
                       x-bind:class="('{{ sorting_query }}' === 'newest' || '{{ sorting_query }}' === '') ? 'bg-primary text-slate-50' : 'dummy'">Newest</a></li>
                <li><a href="{% url 'pdf_overview_query' %}?sort=oldest"
                       x-bind:class="'{{ sorting_query }}' === 'oldest' ? 'bg-primary text-slate-50' : 'dummy'">Oldest</a></li>
                <li><a href="{% url 'pdf_overview_query' %}?sort=title_asc"
                       x-bind:class="'{{ sorting_query }}' === 'title_asc' ? 'bg-primary text-slate-50' : 'dummy'">A --- Z</a></li>
                <li><a href="{% url 'pdf_overview_query' %}?sort=title_desc"
                       x-bind:class="'{{ sorting_query }}' === 'title_desc' ? 'bg-primary text-slate-50' : 'dummy'">Z --- A</a></li>
                <li><a href="{% url 'pdf_overview_query' %}?sort=most_viewed"
                       x-bind:class="'{{ sorting_query }}' === 'most_viewed' ? 'bg-primary text-slate-50' : 'dummy'">Most Viewed</a></li>
                <li><a href="{% url 'pdf_overview_query' %}?sort=least_viewed"
                       x-bind:class="'{{ sorting_query }}' === 'least_viewed' ? 'bg-primary text-slate-50' : 'dummy'">Least Viewed</a></li>
                <li><a href="{% url 'pdf_overview_query' %}?sort=recently_viewed"
                       x-bind:class="'{{ sorting_query }}' === 'recently_viewed' ? 'bg-primary text-slate-50' : 'dummy'">Recently Viewed</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if search_query or tag_query %}
<div class="flex flex-wrap gap-x-2 gap-y-2 pt-3">
    {% if search_query %}
    <div id="search_filter" x-data="{}"
         class="flex items-center bg-slate-200 text-slate-700 dark:text-slate-300 dark:bg-slate-600 px-2 py-1 text-sm rounded-md gap-x-1">
        <span>{{ search_query|truncatechars:40 }}</span>
        <div class="hover:dark:text-white hover:text-black hover:cursor-pointer"
             @click="window.open('{% url 'pdf_overview_query' %}?search=', '_self');">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" class="w-4 h-auto">
                <path d="M18 7 6 19"></path>
                <path d="m6 7 12 12"></path>
            </svg>
        </div>
    </div>
    {% endif %}
    {% for tag in tag_query %}
    <div id="tag_{{ tag }}_filter"  x-data="{}"
         class="flex items-center bg-slate-200 text-slate-700 dark:text-slate-300 dark:bg-slate-600 px-2 py-1 text-sm rounded-md gap-x-1">
        <span>#{{ tag|truncatechars:40 }}</span>
        <div class="hover:dark:text-white hover:text-black hover:cursor-pointer"
             @click="window.open('{% url 'pdf_overview_query' %}?remove={{ tag }}', '_self');">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" class="w-4 h-auto">
                <path d="M18 7 6 19"></path>
                <path d="m6 7 12 12"></path>
            </svg>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="flex-grow border-t border-gray-400 mt-2 mb-4"></div>
