{% if not page_obj %}
<div class="pt-10 [&>*]:flex [&>*]:justify-center">
  {% if search_query or tag_query %}
  <span class="text-2xl">There aren't any PDFs matching the search criteria</span>
  <span class="pt-4 text-lg">Please try a different search.</span>
  {% else %}
  <span class="text-2xl">You have no PDFs yet</span>
  <span class="pt-4 text-lg">Get started by <a class="text-primary hover:text-secondary hover:underline px-1" href="{% url 'add_pdf' %}"> adding</a> PDFs.</span>
  {% endif %}
</div>
{% endif %}

{% for pdf in page_obj %}
{% with loop_id=forloop.counter %}
<div x-data="{ delete{{ loop_id }}: false }" class="pb-1">
  <ul class="relative">
    <div class="!-mb-1 truncate">
      <a id="pdf-link-{{ loop_id }}"
         href="{% url 'view_pdf' pdf.id %}"
         class="text font-bold text-tertiary1 dark:text-tertiary2 hover:underline">
          {{ pdf.name }}
      </a>
    </div>
    {% if pdf.description or pdf.tags.all %}
    <div class="truncate [&>span]:text-gray-800 [&>span]:dark:text-slate-100 -mb-1">
      {% for tag in pdf.tags.all|dictsort:"name" %}
      <a href="{% url 'pdf_overview_query' %}?search=%23{{ tag.name }}"
         class="text-primary hover:text-secondary hover:underline text-sm">#{{ tag.name }}
      </a>
      {% endfor %}
      {% if pdf.description %}
      {% if pdf.tags.all %}
      <span class="text-sm">|</span>
      {% endif %}
      <span class="text-sm">{{ pdf.description }}</span>
      {% endif %}
    </div>
    {% endif %}
    {% if pdf.owner.show_progress_bars == 'Enabled' and pdf.number_of_pages > 0 %}
    <div x-data="{ tooltip_progress: false }" id="progressbar-{{ loop_id }}">
        <div class="pt-1">
            <div x-on:mouseenter="tooltip_progress = true" x-on:mouseleave="tooltip_progress = false"
                 class="w-3/4 md:w-1/2 h-2 bg-slate-200 dark:bg-slate-600 rounded">
                <div style="width: {{ pdf.progress }}%;" class="h-2 !bg-primary rounded"></div>
            </div>
            <span x-show="tooltip_progress" x-transition:enter.duration.500ms x-cloak
                class="z-50 absolute bg-primary text-gray-100 text-sm rounded-sm p-2 mt-1">
             {{ pdf.progress }}% - Page {{ pdf.current_page_for_progress }} of {{ pdf.number_of_pages }}
          </span>
        </div>
    </div>
    {% endif %}
    <div x-data="{ tooltip_date: false }" class="text-gray-500 dark:text-slate-400 space-x-1 text-sm [&>a]:dark:text-slate-400">
      <span x-on:mouseenter="tooltip_date = true" x-on:mouseleave="tooltip_date = false" class="">
          {{ pdf.natural_age }} |
      </span>
      <span x-show="tooltip_date" x-transition:enter.duration.500ms x-cloak
            class="-left-1 -bottom-10 z-50 absolute bg-primary text-gray-100 rounded-sm p-2 mt-1">
        {{ pdf.creation_date }} UTC
      </span>
      <a href="{% url 'pdf_details' pdf.id %}" class="hover:text-primary"> Details</a>
      <a href="{% url 'share_pdf' pdf.id %}" class="hover:text-primary"> Share</a>
      <a href="{% url 'download_pdf' pdf.id %}" class="hover:text-primary">Download</a>
      <a id="confirm-delete-pdf-{{ loop_id }}"
         x-show="delete{{ loop_id }}" x-cloak
         hx-delete="{% url 'delete_pdf' pdf.id %}"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         class="button-text-delete dark:!bg-slate-800 cursor-pointer">Confirm
      </a>
      <button id="cancel-delete-pdf-{{ loop_id }}"
              x-show="delete{{ loop_id }}" x-cloak @click="delete{{ loop_id }} = false" type="button"
              class="button-text-delete dark:!bg-slate-800">Cancel
      </button>
      <button id="delete-pdf-{{ loop_id }}"
              x-show="!delete{{ loop_id }}" @click="delete{{ loop_id }} = true" type="button"
              class="button-text dark:!bg-slate-800 dark:!text-slate-400">Delete
      </button>
    </div>
  </ul>
</div>
{% endwith %}
{% endfor %}
{% if page_obj %}
<div class="flex-grow border-t border-gray-400 mt-4 mb-4"></div>
<div x-data="{}" class="flex [&>a]:text-primary [&>span]:text-primary [&>span]:cursor-default gap-x-3 pt-5">
  {% if page_obj.has_previous %}
    <a class="hover:text-secondary"
        {% if request.META.QUERY_STRING %}
        href="{% url 'pdf_overview_page' page_obj.previous_page_number %}?{{ request.META.QUERY_STRING }}"
        {% else %}
        href="{% url 'pdf_overview_page' page_obj.previous_page_number %}"
        {% endif %}
    >
         Prev
    </a>
  {% else %}
  <span>Prev</span>
  {% endif %}
  <span class="bg-primary !text-gray-100 px-2 rounded-sm">{{ page_obj.number }}</span>
  {% if page_obj.has_next %}
    <a class="hover:text-secondary"
        {% if request.META.QUERY_STRING %}
        href="{% url 'pdf_overview_page' page_obj.next_page_number %}?{{ request.META.QUERY_STRING }}"
        {% else %}
        href="{% url 'pdf_overview_page' page_obj.next_page_number %}"
        {% endif %}
    >
        Next
    </a>
  {% else %}
    <span>Next</span>
  {% endif %}
</div>
{% endif %}
