{% load static %}
<div class="flex justify-between items-center">
    <span class="text-2xl font-bold pr-4">Shared PDFs</span>
    <div class="flex justify-end h-10">
        <div x-data="{ sortdropdownOpen: false }" class="relative">
            <a @click="sortdropdownOpen = !sortdropdownOpen" @click.away="sortdropdownOpen = false" class="cursor-pointer select-none">
                <img class="w-10 h-10 bg-primary hover:bg-secondary rounded-md ml-2 px-2 mx-2 "
                    x-bind:class="sortdropdownOpen && 'duration-300'"
                    src="{% static 'images/sort.svg' %}"/>
            </a>
            <div x-show="sortdropdownOpen" x-cloak class="absolute right-0 origin-top-right bg-white dark:bg-slate-700 text-black shadow-sm rounded-lg w-40 p-2 mt-1 z-20"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 translate-y-0 scale-100"
                >
                <ul class="hoverlist [&>li>*]:justify-left [&>li>*]:rounded-md">
                <li><a href="{% url 'shared_pdf_overview_query' %}?sort=newest"
                       x-bind:class="('{{ sorting_query }}' === 'newest' || '{{ sorting_query }}' === '') ? 'bg-primary' : 'dummy'">Newest</a></li>
                <li><a href="{% url 'shared_pdf_overview_query' %}?sort=oldest"
                       x-bind:class="'{{ sorting_query }}'  === 'oldest' ? 'bg-primary' : 'dummy'">Oldest</a></li>
                <li><a href="{% url 'shared_pdf_overview_query' %}?sort=title_asc"
                       x-bind:class="'{{ sorting_query }}'  === 'title_asc' ? 'bg-primary' : 'dummy'">A --- Z</a></li>
                <li><a href="{% url 'shared_pdf_overview_query' %}?sort=title_desc"
                       x-bind:class="'{{ sorting_query }}'  === 'title_desc' ? 'bg-primary' : 'dummy'">Z --- A</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grow border-t border-gray-400 mt-2 mb-4"></div>
