{% load static %}
<div class="flex justify-between items-center">
    <span class="text-2xl font-bold pr-4">Shared PDFs</span>
<!--    x-data necessary otherwise alpine js will not trigger-->
    <div x-data="{}" class="flex justify-end h-10">
        <div x-data="{ sortdropdownOpen: false }" class="relative">
        <a @click="sortdropdownOpen = !sortdropdownOpen" @click.away="sortdropdownOpen = false" class="cursor-pointer select-none">
            <img class="w-10 h-10 bg-primary hover:bg-secondary rounded-md ml-2 px-2 mx-2 "
                x-bind:class="sortdropdownOpen && 'duration-300'"
                src="{% static 'images/sort.svg' %}"/>
        </a>
        <div x-show="sortdropdownOpen" x-cloak class="absolute right-0 origin-top-right bg-white dark:bg-slate-700 text-black shadow rounded-lg w-40 p-2 mt-1 z-20"
            x-transition:enter="duration-300 ease-out"
            x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
            x-transition:enter-end="opacity-100 translate-y-0 scale-100"
            >
            <ul class="hoverlist [&>li>*]:justify-left [&>li>*]:rounded-md">
            <li><a x-bind:href="construct_query_string('newest')"
                   x-bind:class="get_active_sorting('{{ sorting_query }}') === 'newest' ? 'bg-primary' : 'dummy'">Newest</a></li>
            <li><a x-bind:href="construct_query_string('oldest')"
                   x-bind:class="get_active_sorting('{{ sorting_query }}') === 'oldest' ? 'bg-primary' : 'dummy'">Oldest</a></li>
            <li><a x-bind:href="construct_query_string('title_asc')"
                   x-bind:class="get_active_sorting('{{ sorting_query }}') === 'title_asc' ? 'bg-primary' : 'dummy'">A --- Z</a></li>
            <li><a x-bind:href="construct_query_string('title_desc')"
                   x-bind:class="get_active_sorting('{{ sorting_query }}') === 'title_desc' ? 'bg-primary' : 'dummy'">Z --- A</a></li>
            <li><a x-bind:href="construct_query_string('most_viewed')"
                   x-bind:class="get_active_sorting('{{ sorting_query }}') === 'most_viewed' ? 'bg-primary' : 'dummy'">Most Viewed</a></li>
            <li><a x-bind:href="construct_query_string('least_viewed')"
                   x-bind:class="get_active_sorting('{{ sorting_query }}') === 'least_viewed' ? 'bg-primary' : 'dummy'">Least Viewed</a></li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div class="flex-grow border-t border-gray-400 mt-2 mb-4"></div>
