{% extends 'layouts/blank.html' %}
{% load static %}
{% block content %}
<content class="flex justify-between block max-w-6xl mx-auto md:p-12 !pt-4 dark:text-slate-200">
  <div class="w-full md:w-3/4 md:p-8 p-3">
    {% include 'includes/admin_overview_top.html' %}
    {% include 'includes/admin_overview_center.html' %}
  </div>
  <div class="md:w-1/4 md:p-8 p-3 hidden md:block">
    {% include 'includes/admin_overview_side.html' %}
  </div>
</content>

<script>

  // function for updating the search query specified by the searchbar input
  function update_search_query()
  {
      var search_input = document.getElementById('search_input').value;
      var search_q = document.getElementById('search_q');
      search_q.value = search_input;
  }

  // function for getting the current sorting
  function get_active_sorting(sorting_string)
  {
    if (sorting_string === "") {
      return "oldest";
    }
    else {
      return sorting_string;
    }
  }

  // function for combining the url and its query to a single url
  function combine_url_query(url, query) {
    return `${url}${query}`;
  }

  function prepare_search_string(search_string) {
    search_string = search_string.replace(/\s/g, "+");
    search_string = search_string.replace("#", "%23");

    return search_string;
  }

  // function for constructing the url query string from the search and sorting strings
  function construct_query_string(search_string, sorting_string)
  {
    search_string = prepare_search_string(search_string);

    if (search_string === "" && sorting_string === "")
      return "";
    else if (search_string === "") {
      return `?sort=${sorting_string}`;
    }
    else if (sorting_string === "") {
      return `?q=${search_string}`;
    }
    else {
      return `?q=${search_string}&sort=${sorting_string}`;
    }
  }
</script>
{% endblock %}
