<div class="pt-1">
    <span class="text-2xl font-bold">Information</span>
</div>
<div class="flex-grow border-t border-gray-400 mt-3 mb-4"></div>
<div class="text-xl font-bold">
    <div id="number_users" class="pb-3">Users: {{ number_of_users }}</div>
    <div id="number_pdfs" class="pb-3">PDFs: {{ number_of_pdfs }}</div>
    <div id="current_version" class="pb-3">Version: {{ current_version }}</div>
    {% if latest_version and current_version != 'UNKNOWN' and current_version != latest_version %}
    <div class="pt-4">
    <a href="https://codeberg.org/mrmn/PdfDing/releases"
       id="new_version"
       target="_blank"
       rel="noopener noreferrer"
       class="button">{{ latest_version }} available!</a>
    </div>
    {% endif %}
</div>
