{% if not page_obj %}
<div class="pt-10 [&>*]:flex [&>*]:justify-center">
  <span class="text-2xl">There aren't any users matching the search criteria</span>
  <span class="pt-4 text-lg">Please try a different search.</span>
</div>
{% endif %}

{% for user in page_obj %}
{% with loop_id=forloop.counter %}
<div x-data="{ delete{{ loop_id }}: false, admin{{ loop_id }}: false }" class="pb-1">
  <ul class="relative">
    <div class="text font-bold text-tertiary1 dark:text-tertiary2">
        {% if user.is_superuser and request.user.is_staff %}
        <span id="user-{{ loop_id }}">{{ user.email }} | Admin</span>
        {% else %}
        <span id="user-{{ loop_id }}">{{ user.email }}</span>
        {% endif %}
    </div>
    <div x-data="{ tooltip_date: false }" class="text-gray-500  text-sm">
      <span x-on:mouseenter="tooltip_date = true" x-on:mouseleave="tooltip_date = false">
          Registered: {{ user.date_joined.date }} | PDFs: {{ user.profile.pdf_set.all.count }}
      </span>
      <span x-show="tooltip_date" x-transition:enter.duration.500ms x-cloak
            class="left-0 bottom-0 z-50 absolute bg-primary text-gray-100 rounded-sm p-2 mt-1">
          {{ user.date_joined }} UTC
      </span>
    </div>
    <div class="text-gray-500 text-sm [&>a]:dark:text-slate-400">
      <a id="admin-confirm-{{ loop_id }}"
         x-show="admin{{ loop_id }}" x-cloak
         hx-post="{% url 'admin_adjust_rights' user.id %}"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         class="button-text-delete dark:!bg-slate-800 cursor-pointer">Confirm
      </a>
      <button id="admin-cancel-{{ loop_id }}" x-show="admin{{ loop_id }}"
              x-cloak @click="admin{{ loop_id }} = false" type="button"
              class="button-text-delete dark:!bg-slate-800">Cancel
      </button>
      <button id="admin-action-{{ loop_id }}"
              x-show="!admin{{ loop_id }}" @click="admin{{ loop_id }} = true" type="button"
              class="button-text dark:!bg-slate-800 dark:!text-slate-400">
              {% if user.is_superuser and request.user.is_staff %}
              Remove Admin Rights
              {% else %}
              Add Admin Rights
              {% endif %}
      </button>
    </div>
    <div class="text-gray-500 text-sm [&>a]:dark:text-slate-400">
      <a id="delete-confirm-{{ loop_id }}"
         x-show="delete{{ loop_id }}" x-cloak
         hx-delete="{% url 'admin_delete_profile' user.id %}"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
         class="button-text-delete dark:!bg-slate-800 cursor-pointer">Confirm
      </a>
      <button id="delete-cancel-{{ loop_id }}"
              x-show="delete{{ loop_id }}" x-cloak @click="delete{{ loop_id }} = false" type="button"
              class="button-text-delete dark:!bg-slate-800">Cancel
      </button>
      <button id="delete-action-{{ loop_id }}"
              x-show="!delete{{ loop_id }}" @click="delete{{ loop_id }} = true" type="button"
              class="button-text dark:!bg-slate-800 dark:!text-slate-400">Delete
      </button>
    </div>
  </ul>
</div>
{% endwith %}
{% endfor %}
{% if page_obj %}
<div class="flex-grow border-t border-gray-400 mt-2 mb-4"></div>
<div x-data="{}" class="flex [&>a]:text-primary [&>span]:text-primary [&>span]:cursor-default gap-x-3 pt-5">
  {% if page_obj.has_previous %}
    <a class="hover:text-secondary"
            {% if request.META.QUERY_STRING %}
            href="{% url 'admin_overview_page' page_obj.previous_page_number %}?{{ request.META.QUERY_STRING }}"
            {% else %}
            href="{% url 'admin_overview_page' page_obj.previous_page_number %}"
            {% endif %}
        >
             Prev
        </a>
  {% else %}
  <span>Prev</span>
  {% endif %}
  <span class="bg-primary !text-gray-100 px-2 rounded-sm">{{ page_obj.number }}</span>
  {% if page_obj.has_next %}
    <a class="hover:text-secondary"
            {% if request.META.QUERY_STRING %}
            href="{% url 'admin_overview_page' page_obj.next_page_number %}?{{ request.META.QUERY_STRING }}"
            {% else %}
            href="{% url 'admin_overview_page' page_obj.next_page_number %}"
            {% endif %}
        >
            Next
        </a>
  {% else %}
    <span>Next</span>
  {% endif %}
</div>
{% endif %}
