{% extends 'base.html' %}

{% block layout %}
<div>
    <div class="block max-w-2xl mx-auto px-2 pb-6 pt-2 md:p-12">
        <div class="bg-white dark:bg-slate-800 rounded-2xl
                    border border-slate-200 dark:border-slate-700 creme:border-creme-dark-light
                    dark:text-slate-200 creme:bg-creme-light creme:text-stone-700 w-full">
            <div class="px-2 py-4 md:p-8 [&>*>a]:underline [&>*>*>*>a]:hover:underline [&>*>a]:hover:text-primary">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
