{% extends 'base.html' %}

{% block layout %}
<div>
    <div class="block max-w-3xl mx-auto md:p-12 pb-6">
        <div class="bg-white dark:bg-slate-700 rounded-b-2xl md:rounded-2xl md:drop-shadow-2xl
                    shadow-black dark:shadow-white dark:text-slate-200 w-full">
            <div class="px-2 py-4 md:p-8 [&>*>a]:underline [&>*>*>*>a]:hover:underline  [&>*>a]:hover:text-primary">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
